<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noti</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/style.css?26">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<div class="app-container">
    <div class="header">
        Noti
    </div>
    <div class="monthAndYear"></div>
    <div class="content">
        <div class="reminder-list" id="reminderList">
            <div th:each="reminder : ${reminders}" class="reminder-item">
                <div class="circle"></div>
                <div class="date-info">
                    <div class="day-and-month">
                        <div class="day" th:text="${reminder.day}"></div>
                        <div class="point">.</div>
                        <div class="month" th:text="${reminder.month}"></div>
                    </div>
                    <div class="dayOfWeek" th:text="${reminder.dayOfWeek}"></div>
                    <div class="year" th:text="${reminder.getYear()}" style="display: none"></div>
                </div>
                <div class="reminder" th:id="${reminder.id}">
                    <div>
                        <div class="title" th:text="${reminder.title}"></div>
                        <div class="time" th:text="${reminder.time}"></div>
                    </div>
                    <div>
                        <div class="notification"><img src="/img/bell.png" alt=""></div>
                        <div class="repeat" th:text="${reminder.repeat}"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <button class="add-reminder" onclick="openAddModal()">+</button>
</div>
<div id="calendarModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCalendar()">&times;</span>
        <h2>Выберите дату</h2>
        <form>
            <input type="hidden" name="year" id="selected-year">
            <input type="hidden" name="month" id="selected-month">
            <input type="hidden" name="day" id="selected-day">
            <button type="submit" class="show-by-parameters">Показать Noti</button>
        </form>
        <div class="calendar-controls">
            <select id="yearSelectCalendar">
            </select>
            <select id="monthSelectCalendar">
                <option value="0">Январь</option>
                <option value="1">Февраль</option>
                <option value="2">Март</option>
                <option value="3">Апрель</option>
                <option value="4">Май</option>
                <option value="5">Июнь</option>
                <option value="6">Июль</option>
                <option value="7">Август</option>
                <option value="8">Сентябрь</option>
                <option value="9">Октябрь</option>
                <option value="10">Ноябрь</option>
                <option value="11">Декабрь</option>
            </select>
        </div>
        <div id="calendarContainer"></div>
    </div>
</div>
<div id="addModal" class="modal">
    <form id="addForm" action="/addReminder" method="POST" th:object="${reminder}">
        <div class="modal-content">
            <span class="close" onclick="closeAddModal()">&times;</span>
            <h2>Добавить Noti</h2>
            <input type="text" id="reminderInput" placeholder="Введите название (до 12 символов)" th:field="*{title}"
                   maxlength="12" required>
            <div class="date-content">
                <select id="daySelect" th:field="*{day}">
                </select>
                <select id="monthSelect" th:field="*{month}">
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>
                <select id="yearSelect" th:field="*{year}">
                </select>
            </div>
            <input type="time" id="reminderTime" th:field="*{time}" required>
            <select id="reminderRepeat" th:field="*{repeat}" required>
                <option value="" disabled selected>Выберите частоту напоминания</option>
                <option value="Один раз">Один раз</option>
                <option value="Ежедневно">Ежедневно</option>
                <option value="Еженедельно">Еженедельно</option>
                <option value="Ежемесячно">Ежемесячно</option>
            </select>
            <textarea id="reminderDetails" placeholder="Введите текст" rows="5" th:field="*{description}"></textarea>
            <button type="submit">Добавить</button>
        </div>
    </form>
</div>
<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Редактировать напоминание</h2>
        <form action="/editReminder" method="post" th:object="${updateReminder}">
            <input type="hidden" id="editReminderId" name="editReminderId">
            <input type="text" id="editReminderInput" placeholder="Введите название (до 12 символов)"
                   th:field="*{title}" maxlength="12" required>
            <div class="date-content">
                <select id="editDaySelect" th:field="*{day}">
                </select>
                <select id="editMonthSelect" th:field="*{month}">
                    <option value="1">Январь</option>
                    <option value="2">Февраль</option>
                    <option value="3">Март</option>
                    <option value="4">Апрель</option>
                    <option value="5">Май</option>
                    <option value="6">Июнь</option>
                    <option value="7">Июль</option>
                    <option value="8">Август</option>
                    <option value="9">Сентябрь</option>
                    <option value="10">Октябрь</option>
                    <option value="11">Ноябрь</option>
                    <option value="12">Декабрь</option>
                </select>
                <select id="editYearSelect" th:field="*{year}">
                </select>
            </div>
            <input type="time" id="editReminderTime" th:field="*{time}" required>
            <select id="editReminderRepeat" th:field="*{repeat}" required>
                <option value="Один раз">Один раз</option>
                <option value="Ежедневно">Ежедневно</option>
                <option value="Еженедельно">Еженедельно</option>
                <option value="Ежемесячно">Ежемесячно</option>
            </select>
            <textarea id="reminderDetailsForEdit" th:field="*{description}" placeholder="Введите текст"
                      rows="5"></textarea>
            <button type="submit" id="editButton">Сохранить</button>
        </form>
        <form method="post" action="/delReminder">
            <input type="hidden" id="deleteReminderId" name="deleteReminderId">
            <button type="submit" id="deleteReminder">Удалить</button>
        </form>
    </div>
</div>
</body>
<script th:inline="javascript">
    let tg = window.Telegram.WebApp;
    document.getElementById('addForm').action = "/addReminder/"+tg.initDataUnsafe.user.id;
    const currentDate = new Date();
    const year = currentDate.getFullYear();
    const month = currentDate.getMonth();
    const monthNames = [
        "Январь",
        "Февраль",
        "Март",
        "Апрель",
        "Май",
        "Июнь",
        "Июль",
        "Август",
        "Сентябрь",
        "Октябрь",
        "Ноябрь",
        "Декабрь",
    ];
    const monthName = monthNames[currentDate.getMonth()];
    const dateString = `${monthName} ${year}`;
    const dateElement = document.querySelector(".monthAndYear");

    dateElement.textContent = dateString;

    document.addEventListener("DOMContentLoaded", () => {
        const reminderList = document.querySelectorAll(".reminder");
        const circleElements = document.querySelectorAll(".circle");
        const colors = ["#8dd998", "#fa466d", "#ff7a97"];

        reminderList.forEach((reminder, index) => {
            const backgroundColor = colors[index % colors.length];
            reminder.style.backgroundColor = backgroundColor;
            const shadowColor = backgroundColor + "61";
            reminder.style.boxShadow = `5px 5px 0 ${shadowColor}`;
            circleElements[index].style.background = backgroundColor;
        });
    });
    document.addEventListener("DOMContentLoaded", () => {
        const reminderList = document.getElementById("reminderList");

        reminderList.addEventListener("click", (event) => {
            const reminderElement = event.target.closest(".reminder");
            if (reminderElement) {
                const reminderId = reminderElement.id;
                editReminder(reminderId);
            }
        });
    });


    function openAddModal() {
        setYearAndMonthForSelectForAdd(year);
        document.getElementById("addModal").style.display = "block";
        let selectElementMonth = document.getElementById("monthSelect");
        for (let j = 0; j < selectElementMonth.options.length; j++) {
            if (parseInt(selectElementMonth.options[j].value) === month+1) {
                selectElementMonth.options[j].selected = true;
                break;
            }
        }

    }
    function closeAddModal() {
        document.getElementById("addModal").style.display = "none";

    }
    function createOptions(selectElement, startValue, endValue) {
        selectElement.innerHTML = "";
        for (let value = startValue; value <= endValue; value++) {
            const option = document.createElement("option");
            option.value = value;
            option.textContent = value;
            selectElement.appendChild(option);
        }

    }
    function setYearAndMonthForSelectForAdd(currentYear) {
        const yearSelect = document.getElementById("yearSelect");
        createOptions(yearSelect, currentYear, currentYear + 3);
        const currentMonth = new Date().getMonth();
        generateDaysForAdd(currentMonth,currentYear);
        document.getElementById("daySelect").value = new Date().getDate();

    }
    function setYearAndMonthForSelectForEdit(currentYear, currentMonth) {
        const yearSelect = document.getElementById("editYearSelect");
        const daySelect = document.getElementById("editDaySelect");
        createOptions(yearSelect, currentYear, currentYear + 3);
        generateDaysForEdit(currentMonth,currentYear);

    }
    function setYearAndMonthForSelectForCalendar(currentYear) {
        const yearSelect = document.getElementById("yearSelectCalendar");
        createOptions(yearSelect, currentYear, currentYear + 3);

    }

    function editReminder(reminderId) {
        let reminders = [[${reminders}]];
        for (let i = 0; i < reminders.length; i++) {
            if (parseInt(reminderId) === parseInt(reminders[i].id)) {
                document.getElementById("editReminderId").value = reminderId;
                document.getElementById("deleteReminderId").value = reminderId;
                document.getElementById("editReminderInput").value = reminders[i].title;
                setYearAndMonthForSelectForEdit(reminders[i].year, reminders[i].month);
                document.getElementById("editDaySelect").value = reminders[i].day;
                let selectElement = document.getElementById("editReminderRepeat");
                for (let j = 0; j < selectElement.options.length; j++) {
                    if (selectElement.options[j].value === reminders[i].repeat) {
                        selectElement.options[j].selected = true;
                        break;
                    }
                }
                let selectElementYear = document.getElementById("editYearSelect");
                for (let j = 0; j < selectElementYear.options.length; j++) {
                    if (selectElementYear.options[j].value.toString() === reminders[i].year.toString()) {
                        selectElementYear.options[j].selected = true;
                        break;
                    }
                }
                let selectElementMonth = document.getElementById("editMonthSelect");
                for (let j = 0; j < selectElementMonth.options.length; j++) {
                    if (selectElementMonth.options[j].value.toString() === reminders[i].month.toString()) {
                        selectElementMonth.options[j].selected = true;
                        break;
                    }
                }
                let selectElementDay = document.getElementById("editDaySelect");
                for (let j = 0; j < selectElementDay.options.length; j++) {
                    if (selectElementDay.options[j].value === reminders[i].day) {
                        selectElementDay.options[j].selected = true;
                        break;
                    }
                }
                document.getElementById("editReminderTime").value = reminders[i].time;
                document.getElementById("reminderDetailsForEdit").value = reminders[i].description;
            }
        }
        document.getElementById("editModal").style.display = "block";
    }

    function closeEditModal() {
        document.getElementById("editModal").style.display = "none";
    }

    function openCalendar() {
        const calendarContainer = document.getElementById("calendarContainer");
        calendarContainer.innerHTML = "";
        document.getElementById("calendarModal").style.display = "block";
        setYearAndMonthForSelectForCalendar(year);
        document.getElementById("monthSelectCalendar").value = month;
        generateCalendar(year, month);
    }

    document
        .getElementById("yearSelectCalendar")
        .addEventListener("change", updateCalendar);
    document
        .getElementById("monthSelectCalendar")
        .addEventListener("change", updateCalendar);

    function updateCalendar() {
        const year = parseInt(document.getElementById("yearSelectCalendar").value);
        const month = parseInt(document.getElementById("monthSelectCalendar").value);
        generateCalendar(year, month);
    }

    function generateCalendar(year, month) {
        const calendarContainer = document.getElementById("calendarContainer");
        calendarContainer.innerHTML = "";
        const daysInMonth = new Date(year, month + 1, 0).getDate();
        const firstDay = new Date(year, month, 1).getDay();

        const dayHeaders = ["ПН", "ВТ", "СР", "ЧТ", "ПТ", "СБ", "ВС"];
        dayHeaders.forEach((day) => {
            const header = document.createElement("div");
            header.textContent = day;
            header.className = "day-header";
            calendarContainer.appendChild(header);
        });

        for (let i = 0; i < (firstDay + 6) % 7; i++) {
            const emptyCell = document.createElement("div");
            calendarContainer.appendChild(emptyCell);
        }

        for (let day = 1; day <= daysInMonth; day++) {
            const dayCell = document.createElement("div");
            dayCell.textContent = day;
            dayCell.onclick = () => showRemindersForDate(year, month, day);
            calendarContainer.appendChild(dayCell);
            document.getElementById("selected-year").value = year;
        }
    }

    function closeCalendar() {
        document.getElementById("calendarModal").style.display = "none";
    }

    function showRemindersForDate(year, month, day) {
        document.getElementById("selected-year").value = year;
        document.getElementById("selected-month").value = month + 1;
        document.getElementById("selected-day").value = day;
    }

    document.querySelector(".monthAndYear").addEventListener("click", openCalendar);

    document.getElementById("monthSelect").addEventListener("change", () => {
        const month = parseInt(document.getElementById("monthSelect").value, 10);
        generateDaysForAdd(month,year);
    });
    document.getElementById("editMonthSelect").addEventListener("change", () => {
        const month = parseInt(document.getElementById("editMonthSelect").value, 10);
        const year= parseInt(document.getElementById("editYearSelect").value, 10);
        generateDaysForEdit(month,year);
    });
    document.getElementById("yearSelect").addEventListener("change", () => {
        const month = parseInt(document.getElementById("monthSelect").value, 10);
        const year= parseInt(document.getElementById("yearSelect").value, 10);
        generateDaysForAdd(month,year);
    });
    document.getElementById("editYearSelect").addEventListener("change", () => {
        const month = parseInt(document.getElementById("editMonthSelect").value, 10);
        const year= parseInt(document.getElementById("editYearSelect").value, 10);
        generateDaysForEdit(month,year);
    });

    function generateDaysForAdd(month,year) {
        const daySelect = document.getElementById("daySelect");
        daySelect.innerHTML = '';
        const daysInMonth = new Date(year, month, 0).getDate();

        for (let day = 1; day <= daysInMonth; day++) {
            const option = document.createElement("option");
            option.value = day;
            option.textContent = day;
            daySelect.appendChild(option);
        }
    }
    function generateDaysForEdit(month,year) {
        const daySelect = document.getElementById("editDaySelect");
        daySelect.innerHTML = '';
        const daysInMonth = new Date(year, month, 0).getDate();
        for (let day = 1; day <= daysInMonth; day++) {
            const option = document.createElement("option");
            option.value = day;
            option.textContent = day;
            daySelect.appendChild(option);
        }
    }

</script>

</html>